<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whowantstobeamillionaire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestionTen" />
        <activity android:name=".QuestionNine" />
        <activity android:name=".QuestionEight" />
        <activity android:name=".QuestionSeven" />
        <activity android:name=".QuestionSix" />
        <activity android:name=".QuestionFive" />
        <activity android:name=".QuestionFour" />
        <activity android:name=".QuestionThree" />
        <activity android:name=".Result" />
        <activity android:name=".QuestionTwo" />
        <activity android:name=".QuestionOne" />
        <activity android:name=".GameRules" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>